<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Node.js</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
<body class="bg-dark">
  <%- include('./commons/navProducts'); -%>  <!--NAV comun de todas las páginas. Cambia la ruta segun la vista-->
  <!-- Inicio Cards -->
  <main class="flex-container">
    <!-- Card Productos -->
    <article class="card bg-dark">
      <section class="cardTitle">
        <h2><a href="./productos">Lista de Productos</a></h2>
      </section>
      <section class="cardIcon">
        <a href="./productos"><img class="svgImg"src="/img/package.svg" alt="productos"> </a>
      </section>
      <section class="cardFooter">
        <div class="cardFooterInfo">
          <a href="./productos/add">
            <h4>Agregar Productos</h4>
          </a>
        </div>
        <div class="cardFooterInfo">
          <a href="./productos">
            <h4>Ver Productos</h4>
          </a>
        </div>      
      </section>
    </article>
  </main>

</body>
</html>

